<!DOCTYPE html>
<html>
<head>
  <style>
    .apply-button {
      border: 2px solid #007bff;
      background-color: transparent;
      padding: 8px 16px;
      cursor: pointer;
      transition: background-color 0.3s;
      border-radius: 10px;
      text-decoration: none;
    }

    .apply-button:hover {
      background-color: #007bff;
      color: white;
    }
  </style>
</head>
<body>
  <div style="display: flex; justify-content: space-between; margin-bottom: 16px; border-bottom: 2px solid #e1e1e1; padding: 8px;">
    <div style="flex: 1;">
      <h4 style="color: rgb(120, 120, 120); margin-bottom: 4px;">{{job['title']}}</h4>
      <div><b>Location:</b> {{job['location']}}</div>
      {% if 'salary' in job %}
        <div><b>Salary:</b> {{job['salary']}}</div>
      {% endif %}
    </div>
    <div style="flex: 0;">
      <a href="/job/{{job['id']}}" type="button" class="apply-button">Apply</a>
    </div>
  </div>
</body>
</html>
